<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.min.js"></script>

    <link href="lib\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet">
    <link href="css\app.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body ng-app="hwaztechApp" ng-controller="appController" ng-class="{'narrow':isNarrow,'pad':isPad,'pad-large':isPadLarge,'full':isFull,'full-large':isFullLarge}">
    <header class="menu">
        <div class="wrap">
            <div>
                <a href="/" class="menu_logo">
                    <img src="img/logo25-black.png"></img>
                </a>
            </div>

            <button class="menu__toggle menu__toggle--white"><span class="menu__toggle__line">menu</span></button>
            <nav class="menu__menubar">
                <ul role="menubar" class="menu__list">
                    <li role="menuitem" class="menu__item">
                        <a href="/" title="Home" class="menu__link menu__link--current" ng-click="redirect()">Home</a>
                    </li>
                    <li role="menuitem" class="menu__item">
                        <a href="/#/developers/" title="Our Developers" class="menu__link" ng-click="redirect()">Our Developers</a>
                    </li>
                    <li role="menuitem" class="menu__item">
                        <a href="/#/case-studies/" title="Case Studies" class="menu__link" ng-click="redirect()">Case Studies</a>
                    </li>
                    <li role="menuitem" class="menu__item">
                        <a href="/#/methodology/" title="Our Methodology" class="menu__link" ng-click="redirect()">Our Methodology</a>
                    </li>
                    <li role="menuitem" class="menu__item">
                        <a href="/#/engagement-model/" title="Engagement Model" class="menu__link" ng-click="redirect()">Engagement Model</a>
                    </li>
                    <li role="menuitem" class="menu__item">
                        <a href="/#/join-us" title="Join Hwaztech" class="menu__link" ng-click="redirect()">Join Us</a>
                    </li>
                </ul>

                <a href="/#/start-cooperation/" title="Hire Developers" ng-click="redirect()" class="btn btn-primary hide-on-pad">Hire Developers</a>

            </nav>
        </div>
    </header>

    <div ng-view></div>

    <section class="subscription" ng-if="!hideCooperation">
        <div class="wrap">
            <h2 class="subscription__title">
                Agree with our <span>{{field}}</span>? <br/><br/>Then why not start our cooperation!
            </h2>

            <div class="subscription_btn">
                <a href="/#/start-cooperation/" title="Start Cooperation" class="btn btn-primary" style="padding:1em 3em;font-size:1rem">Hire Developers</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_m">
            <div class="footer__logo">
                <a href="/" class="footer__logo__link">
                    <img src="img/logo25-black.png" height="50px"></img>
                </a>

                <div>
                    <i class="fa fa-envelope-o"></i>
                    <a id="mailto" class="footer__link" href="mailto:consultant@hwaztech.com">consultant@hwaztech.com</a>
                </div>
            </div>            
    
            <div class="footer_company">
                <h4 class="footer__title">Expertise SOFTWARE OUTSOURCING</h4>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" href="/">Home</a></li>
                    <li class="footer__item"><a class="footer__link" href="/#/developers/">Our Developer</a></li>
                    <li class="footer__item"><a class="footer__link" href="/#/case-studies/">Case Studies</a></li>
                    <li class="footer__item"><a class="footer__link" href="/#/methodology/">Our Meghodology</a></li>
                    <li class="footer__item"><a class="footer__link" href="/#/engagement-model/">Engagement Model</a></li>
                    <li class="footer__item"><a class="footer__link" href="/#/join-us/">Join Us</a></li>
                    <!-- <li class="footer__item hide-on-mobile"><a class="footer__link hide-on-mobile" href="/">Home</a></li>
                    <li class="footer__item hide-on-mobile"><a class="footer__link hide-on-mobile" href="/#/case-studies/">Our Work</a></li>
                    <li class="footer__item hide-on-mobile"><a class="footer__link hide-on-mobile" href="/#/join-us">Join Us</a></li> -->
    
                </ul>
            </div>
        </div>

        <hr class="footer_hr" />

        <div class="footer_logo_n">
            <a href="/" class="footer__logo__link">
                <img src="img/logo25-black.png" height="50px"></img>
            </a>

            <div>
                <i class="fa fa-envelope-o"></i>
                <a class="footer__link" href="mailto:consultant@hwaztech.com">consultant@hwaztech.com</a>
            </div>
        </div>        

        <div class="footer_address">
            <script>
                document.write(new Date().getFullYear())
            </script> © All rights reserved. Hwaztech Ltd.
        </div>

    </footer>

</body>

<!-- <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script> -->
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/appController.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

</html>