<section class="block section section--dark section--hero">
    <div class="section__body section__body--hero section__body--center">
      <h1 class="section__title--hero">
        Case Studies
      </h1>
      <p class="section__copy--hero">
        Show time of our work <i class="fa fa-heart-o"></i>.
      </p>
    </div>
</section>

<section class="section section--left">
    <div class="section__body section__body--left">
      <h2 class="section__title">
        CHUNXUANMAO BEADHOUSE SYSTEM.
      </h2>
      <p class="section__copy">
        Hwaztech developers worked with Chunxuanmao -- the sub beadhouse company of China Ocean Shipping (Group) Company (the largest shipping company in China), to build a React.js and React Native based, mobile-enabled beadhouse management system.        
      </p>
<!--       
<a href="/case-studies/fox/" title="chunxuanmao case study" class="btn btn--big btn-primary">Case Study</a> -->

    </div>
    <div class="section__pic section__pic--left">
      <img class="section__pic__img" alt="CHUNXUANMAO" src="../img/chunxuanmao-case.png">
    </div>
</section>

<section class="section section--right">
    <div class="section__body section__body--right">
      <h2 class="section__title">
        CHENGJINGHE.
      </h2>
      <p class="section__copy">
          With a team of six developers (1 project manager, 2 web/API developers, 1 iOS developer, 1 Android developer and 1 QA), Hwaztech provides development resources to support the ever-evolving SaaS system of Chengjinghe, a Hwaztech partner for a couple of years.
      </p>      

    </div>
    <div class="section__pic section__pic--right">
      <img class="section__pic__img" alt="chengjinghe" src="../img/chengjinghe-case.png">
    </div>
</section>

<section class="section section--left">
    <div class="section__body section__body--left">
      <h2 class="section__title">
        MY CALENDAR.
      </h2>
      <p class="section__copy">
        This is an online event calendar for travel industry based on Angular5 and iOS & Android Native. It also provides plenty of statistic diagrams and charts via d3.js for users to review marketing status. 
      </p>
    </div>
    <div class="section__pic section__pic--left">
      <img class="section__pic__img" alt="ruby" src="../img/event2.png">
    </div>
</section>
