<section class="block section section--dark section--hero">
    <div class="section__body section__body--hero section__body--center">
        <h1 class="section__title--hero">
            Our Developers
        </h1>
        <p class="section__copy--hero">
            The scerets of Hwaztech helping clients succeed.
        </p>
    </div>
</section>

<section class="section section--right">
    <div class="section__body section__body--right">
        <h2 class="section__title">
            Experienced.
        </h2>
        <p class="section__copy">
            Came from the world's leading IT companies, our developers have over 5 years average experience in software development.<br/><br/>            Yes, we only trust the people who is able to do right things and do things right.
        </p>

        <a href="/unleash/" title="We unleash potential" class="btn btn--big  btn-primary">Learn More</a>

    </div>
    <div class="section__pic section__pic--right">
        <img class="section__pic__img" alt="Motivated." src="https://x-team.com/images/pics/disciplined.jpg">
    </div>
</section>

<section class="section section--left">
    <div class="section__body section__body--left">
        <h2 class="section__title">
            Studious.
        </h2>
        <p class="section__copy">
            Learning is the key of working in IT industry. Our developers have a strong desire to learn and grow, and they push themselves
            forward consistently. You will never worry about introducing new technologies.
        </p>

        <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn-primary">Hire Developers</a>

    </div>
    <div class="section__pic section__pic--left">
        <img class="section__pic__img" alt="Disciplined." src="https://x-team.com/images/pics/10-years-in-the-making.jpg">
    </div>
</section>


<section class="section section--right">
    <div class="section__body section__body--right">
        <h2 class="section__title">
            Quality & Efficiency.
        </h2>
        <p class="section__copy">
            Quality & Efficiency are the most concerned by Hwaztech developers. We spare no effort to improve the quality & efficiency
            of development.<br><br>We know this is also the most concerned by you.
        </p>
    </div>
    <div class="section__pic section__pic--right">
        <img class="section__pic__img" alt="Consistent." src="https://x-team.com/images/developer-2.png">
    </div>
</section>

<section class="section section--left">
    <div class="section__body section__body--left">
        <h2 class="section__title">
            Valuable.
        </h2>
        <p class="section__copy">
            Based on creating business values for you, Hwaztech developers relentlessly desire to be valuable for your business.
        </p>

        <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn-primary">Hire Developers</a>

    </div>
    <div class="section__pic section__pic--left">
        <img class="section__pic__img" alt="Disciplined." src="https://x-team.com/images/pics/10-years-in-the-making.jpg">
    </div>
</section>

<section class="resources-newsletters">
    <div class="wrap">
        <h2 class="resources-newsletters__title">
            <span class="resources__title__cardinal resources__title__cardinal--hidden">04</span> Meet a few Hwatech developers
        </h2>
    </div>

    <div class="devsfeed__items">

        <article class="devsfeed__item devsfeed__item--devs">
            <ul class="devsfeed__item__list devsfeed__item__list--devs" itemscope="" itemtype="http://schema.org/Person">
                <li class="devsfeed__item__pic devsfeed__item__pic--devs">
                    <img alt="Wojtek Zajac" class="devsfeed__item__pic__img devsfeed__item__pic__img--devs" itemprop="image" src="https://x-team.com/images/resources/../developers/kasper-wargula-teaser.jpg">
                </li>
                <li class="devsfeed__item__title devsfeed__item__title--devs" itemprop="name">
                    Wojtek Zajac
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--conference">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">attended
                            <span class="unleash-feed__label unleash-feed__label--devs">the Global Hard & Core Technology Conference in Xi'an.</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--react">
                        <img src="../img/angular.png"></img>
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              completed
              <span class="unleash-feed__label unleash-feed__label--devs">"ReactJS and Flux" course on udemy.com</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--react">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              attended
              <span class="unleash-feed__label unleash-feed__label--devs">The 24th China Yangling Agriculture Hi-Tech Fair.</span>
                        </span>
                    </div>
                </li>
            </ul>
        </article>

        <article class="devsfeed__item devsfeed__item--devs">
            <ul class="devsfeed__item__list devsfeed__item__list--devs" itemscope="" itemtype="http://schema.org/Person">
                <li class="devsfeed__item__pic devsfeed__item__pic--devs">
                    <a class="devsfeed__item__pic__link" href="http://nadeemkhedr.com/" target="_blank">
              <img alt="Nadeem Khedr" class="devsfeed__item__pic__img devsfeed__item__pic__img--devs" itemprop="image" src="https://x-team.com/images/resources/../developers/michal-nawrot-teaser.jpg">
            </a>
                </li>
                <li class="devsfeed__item__title devsfeed__item__title--devs" itemprop="name">
                    <a class="devsfeed__item__link" href="http://nadeemkhedr.com/" target="_blank">
              Nadeem Khedr
            </a>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--react">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              completed
              <span class="unleash-feed__label unleash-feed__label--devs">"Using Webpack for Production JavaScript Applications" course on Egghead.</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--conference">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              published
              <span class="unleash-feed__label unleash-feed__label--devs">An emacs tips blog post for getting started with emacs.</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--code">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              completed
              <span class="unleash-feed__label unleash-feed__label--devs">"Getting Started with Redux" Egghead course by Dan Abramov.</span>
                        </span>
                    </div>
                </li>
            </ul>
        </article>

        <article class="devsfeed__item devsfeed__item--devs">
            <ul class="devsfeed__item__list devsfeed__item__list--devs" itemscope="" itemtype="http://schema.org/Person">
                <li class="devsfeed__item__pic devsfeed__item__pic--devs">
                    <a class="devsfeed__item__pic__link" href="#" target="_blank">
              <img alt="Pawel Chojnacki" class="devsfeed__item__pic__img devsfeed__item__pic__img--devs" itemprop="image" src="https://x-team.com/images/resources/../developers/michal-kawalec-teaser.jpg">
            </a>
                </li>
                <li class="devsfeed__item__title devsfeed__item__title--devs" itemprop="name">
                    <a class="devsfeed__item__link" href="#" target="_blank">
              Pawel Chojnacki
            </a>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--course">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              completed
              <span class="unleash-feed__label unleash-feed__label--devs">the official self-paced Docker Training from Docker.</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--code">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              submitted a pull request to
              <span class="unleash-feed__label unleash-feed__label--devs">Redux Test Recorder open source project.</span>
                        </span>
                    </div>
                </li>

                <li class="unleash-feed__item unleash-feed__item--devs" itemprop="award">
                    <div class="unleash-feed__avatar unleash-feed__avatar--devs unleash-feed__avatar--dev--course">
                    </div>
                    <div class="unleash-feed__info unleash-feed__info--devs">
                        <span class="unleash-feed__update unleash-feed__update--devs">
              read
              <span class="unleash-feed__label unleash-feed__label--devs">"Clojure for the Brave and True" book AND attended EuroClojure conf.</span>
                        </span>
                    </div>
                </li>
            </ul>
        </article>
    </div>

</section>

<!-- <section class="resources-newsletters">
        <div class="wrap">
          <h2 class="resources-newsletters__title">
            <span class="resources__title__cardinal resources__title__cardinal--hidden">04</span>
            Meet a few X-Teamers
          </h2>
          <ul class="resources-newsletters__grid">
                  
                  <li class="dev-item">
                      <a href="/developers/kasper-wargula/" title="Kasper Wargula" class="dev-item__link" target="_blank">
                          <img class="dev-item__img" alt="Kasper Wargula" src="https://x-team.com/images/resources/../developers/kasper-wargula-teaser.jpg">
                <span class="dev-item__title">Kasper Wargula</span>
                          <span class="dev-item__snippet">Senior front-end React developer</span>
                      </a>
                      
                  </li>
      
                  <li class="dev-item">
                      <a href="/developers/michal-nawrot/" title="Michal Nawrot" class="dev-item__link" target="_blank">
                          <img class="dev-item__img" alt="Michal Nawrot" src="https://x-team.com/images/resources/../developers/michal-nawrot-teaser.jpg">
                <span class="dev-item__title">Michal Nawrot</span>
                          <span class="dev-item__snippet">Senior full-stack JavaScript developer</span>
                      </a>
                  </li>
      
                  <li class="dev-item">
                      <a href="/developers/michal-kawalec/" title="Michal Kawalec" class="dev-item__link" target="_blank">
                          <img class="dev-item__img" alt="Michal Kawalec" src="https://x-team.com/images/resources/../developers/michal-kawalec-teaser.jpg">
                <span class="dev-item__title">Michal Kawalec</span>
                          <span class="dev-item__snippet">Senior full-stack JavaScript developer</span>
                      </a>
                  </li>
          </ul>
        </div>
      </section> -->