<section class="block section section--dark section--hero">
  <div class="section__body section__body--hero section__body--center">
    <h1 class="section__title--hero">
      We Suggest Two Models
    </h1>
    <p class="section__copy--hero">
      Let me explain how will we work together.
    </p>
    <div class="cavalry__actions">
        <div class="cavalry__action">
          <img alt="hire x-team developers" class="cavalry__action__img" src="../img/developer_tr.png">
          <span class="cavalry__action__title">Dadicated Developers</span>
        </div>
        <div class="cavalry__action">
          <img alt="join x-team" class="cavalry__action__img" src="../img/fixed-Price-05.png">
          <span class="cavalry__action__title">Fixed Price</span>
        </div>
    </div>
  </div>
</section>

<section class="cavalry">
  <div class="wrap">
    <h2 class="cavalry__title">How to choose from these 2 Models?</h2>
    <p class="cavalry__intro">This depends on your requirements<br class="br--desktop"> See the following flow chart.</p>
    <br/>
    <br/>
    <div class="model-wrap fuck">
      <p class="cavalry__intro">1. Do you have a detailed requirement specification?
        <br/>2. Do you have a finalized UI design sketch?
        <br/>3. Are you sure you won't make any changes to the design and requirements?
        <br/>4. Do you have a strict release date?
      </p>
    </div>

    <div class="cavalry__actions flow" style="margin-bottom: 0">
      <div class="model-yes">YES</div>
      <div class="model-no">NO</div>
    </div>

    <div class="cavalry__actions flow flow-options">
      <div class="left-circle interesting model-target">Fixed Price</div>
      <div class="right-circle model-target">Dadicated Developers</div>
    </div>
  </div>
</section>

<section class="cavalry">
<div class="wrap">
  <h2 class="cavalry__title">Benefits of Each Model</h2>
  <!-- <p class="cavalry__intro">This depends on your requirements<br class="br--desktop"> See the following flow chart.</p> -->
  <br/>
  <br/>
</div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Dedicated Developers.
    </h2>
    <p class="section__copy">
      <ul class="section__copy section_intro">
        <li>Flexible.</li>
        <li>Scrum & iteration.</li>
        <li>Lower risk.</li>
        <li>Cooperate with your in-house developers.</li>
        <li>Skill supplement.</li>
        <li>No hidden costs.</li>
      </ul>

    </p>

    <a href="https://en.wikipedia.org/wiki/Agile_software_development" class="btn btn--big  btn-primary" target="_blank">Learn More</a>

  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="FOX.COM" src="../img/developer_tr.png">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Fixed Priced.
    </h2>
    <p class="section__copy">
      <ul class="section__copy section_intro">
        <li>Clear costs.</li>
        <li>Fixed deadline.</li>
        <!-- <li>Shift risks.</li> -->
        <li>No need to care about development details.</li>
      </ul>

    </p>

  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Kaplan Inc." src="../img/fixed-Price-05.png">
  </div>
</section>
  
</section>