<div class="wrap cooperation">
    <h1 class="form__title">
      Join This Talented Developers Team
    </h1>
    <p class="form__subtitle">
      Tell us about your skill advantages, we will<br class="br--desktop"> get back to you very soon.
    </p>
    <div>
      <form class="form__form validate" name="hire" method="post" id="subscribe">
        <input class="form__input" type="text" placeholder="Full Name" name="name" id="name" required="">
        <input class="form__input" type="text" placeholder="Skillset" name="skillset">
        <input class="form__input" type="email" placeholder="E-mail" name="email" id="email" required="">
        <textarea class="form__input form__input--textarea" name="description" placeholder="How did you hear about us?"></textarea>
     
        <button class="btn btn--big start btn-primary" type="submit" ng-click="start()">Join</button>
      </form>
    </div>
  </div>