<div class="wrap cooperation" ng-controller="appController">
    <h1 class="form__title">
      Join This Talented Developers Team
    </h1>
    <p class="form__subtitle">
      Tell us about your skill advantages, we will<br class="br--desktop"> get back to you very soon.
    </p>
    <div>
      <form class="form__form validate" name="hire" method="post" id="subscribe">
        <input class="form__input" type="text" placeholder="Full Name" name="name" id="name" required="" ng-model="name">
        <input class="form__input" type="text" placeholder="Skillset" name="skillset" ng-model="skillset" required="">
        <input class="form__input" type="number" placeholder="Years you've been coding" name="years" ng-model="years" required="">
        <input class="form__input" type="email" placeholder="E-mail" name="email" id="email" required="" ng-model="email">
        <textarea class="form__input form__input--textarea" name="heardFrom" placeholder="How did you hear about us?" ng-model="heardFrom"></textarea>
     
        <button class="btn btn--big start btn-primary" type="submit" ng-click="joinUs()">Join</button>
      </form>
    </div>
  </div>