<section class="Intro-Seccion Intro-Seccion-SoftOutsourcing">
    <div class="container">
        <!-- <i class="fa fa-mobile-phone"></i>
        <i class="fa fa-tablet"></i> -->
        <i class="fa fa-laptop"></i>
        <h2>Huazhuo Technology (Hwaztech)</h2>        
        <h1>Software Outsourcing</h1>
        <!-- <h2>Create high-performance solutions combining the best of software engineering, innovation and design.</h2> -->
    </div>
</section>

<div class="brands--hero">
    <div class="wrap">
        <h4 class="brands__title">Trusted by the world's leading brands</h4>

        <div class="brands--gray">
            <ul class="brands__logos">
                <li class="brands__logo brands__logo--fox">
                    <img class="brands__logo__image" alt="National Geographic" src="../img/yuanyang1.png">
                </li>
                <li class="brands__logo brands__logo--threadless">
                    <img class="brands__logo__image" alt="Threadless" src="../img/tpanel.png">
                </li>
                <li class="brands__logo brands__logo--twitter">
                    <img class="brands__logo__image img-gray" alt="Twitter" src="../img/chunxuanmao-black.png">
                </li>
                <li class="brands__logo brands__logo--discovery">
                    <img class="brands__logo__image" alt="Discovery" src="../img/chenghejing-black.png">
                </li>
                <li class="brands__logo brands__logo--american-idol">
                    <img class="brands__logo__image" alt="American Idol" src="../img/shanghui-black.png">
                </li>
                <li class="brands__logo brands__logo--kaplan">
                    <img class="brands__logo__image" alt="Kaplan" src="../img/yanglingh-black.png">
                </li>        
            </ul>
        </div>

    </div>
</div>

<section class="cavalry">
    <div class="wrap">
        <h2 class="cavalry__title">We are your partners</h2>
        <p class="cavalry__intro">Hwaztech helped the world's leading brands <br class="br--desktop"> scale their development teams for years.</p>
    </div>
</section>

<section class="section--list">
    <div class="section__pic section__pic--left section__pic--list">
        <img class="section__pic__img section__pic__img--list" alt="undefined" src="../img/justin1.jpg">
    </div>
    <div class="section__items">

        <div class="section__item">
            <h4 class="section__item__title">We'll join your team.</h4>
            <p class="section__item__text">You manage the projects, and our dedicated developers join your team full-time.</p>
        </div>

        <div class="section__item">
            <h4 class="section__item__title">Simple, flexible contract.</h4>
            <p class="section__item__text">Scale your team as needed. We bill on a monthly basis.</p>
        </div>

        <div class="section__item">
            <h4 class="section__item__title">We support their growth.</h4>
            <p class="section__item__text">We fund every developer's learning and growth to keep them motivated.</p>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="wrap">
        <h2 class="benefits__title">Our Capabilities</h2>
        <div class="benefits__content">
            <p class="benefits__intro">
                Our development teams have <br class="br--desktop"> the experience to help you succeed.
            </p>
            <!-- <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn--red">Hire Developers</a> //-->
            <ul class="benefits__list">

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-tablet"></i>
                    <h4 class="benefits__item__title">Bespoke Software <br/> Development</h4>
                    <p class="benefits__item__text">Remove clunky process and meet your expectations.</p>
                </li>

                <li class="benefits__item benefits__item--team">
                    <i class="fa fa-laptop"></i>
                    <h4 class="benefits__item__title">Full Stack <br/> Development</h4>
                    <p class="benefits__item__text">From front end to back end development.</p>
                </li>

                <li class="benefits__item benefits__item--updates">
                    <i class="fa fa-mobile-phone"></i>
                    <h4 class="benefits__item__title">Mobile Apps <br/> Development</h4>
                    <p class="benefits__item__text">We expertise in iOS & Android apps development.</p>
                </li>

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-gears"></i>
                    <h4 class="benefits__item__title">Maintenance Enhancement</h4>
                    <p class="benefits__item__text">Manage critical applications and maximize growth opportunities.</p>
                </li>

                <li class="benefits__item benefits__item--contract">
                    <i class="fa fa-hand-stop-o"></i>
                    <h4 class="benefits__item__title">Software <br/> QA Testing</h4>
                    <p class="benefits__item__text">Unrivaled experience in software testing.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section section--skills">
    <div class="section__body section__body--skills">
        <h2 class="section__title">
            Technology <br/>Stack.
        </h2>
        <p class="section__copy">
            Hire motivated developers who are driven to keep their skills sharp in the most widely adopted technologies today.
        </p>

        <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn-primary">Hire Developers</a>

    </div>
    <div class="section__pic section__pic--skills">
        <img class="section__pic__img" alt="Ready to<br>Assemble." src="img/tech-black.png">
    </div>
</section>

<section class="benefits">
    <div class="wrap">
        <h2 class="benefits__title">Our Partner Benefits</h2>
        <div class="benefits__content">
            <p class="benefits__intro">
                We'e built partnerships with leading brands that have lasted nearly a decade thanks to level of care &amp; attention we provide.
            </p>
            <!-- <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn--red">Hire Developers</a> //-->
            <ul class="benefits__list">

                <li class="benefits__item benefits__item--team">
                    <i class="fa fa-group"></i>
                    <h4 class="benefits__item__title">Dedicated Team.</h4>
                    <p class="benefits__item__text">A full-time, scaleable team of trusted developers.</p>
                </li>

                <li class="benefits__item benefits__item--updates">
                    <i class="fa fa-comments"></i>
                    <h4 class="benefits__item__title">Daily Updates.</h4>
                    <p class="benefits__item__text">In-depth, daily progress updates. (Before you even ask for them)</p>
                </li>

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-user-md"></i>
                    <h4 class="benefits__item__title">Account Manager.</h4>
                    <p class="benefits__item__text">Dedicated account manager, available any time.</p>
                </li>

                <li class="benefits__item benefits__item--contract">
                    <i class="fa fa-pencil-square-o"></i>
                    <h4 class="benefits__item__title">Flexible Contract.</h4>
                    <p class="benefits__item__text">Flexible contracts with simple monthly billing.</p>
                </li>
            </ul>
        </div>
    </div>
</section>