<section class="Intro-Seccion Intro-Seccion-SoftOutsourcing">
    <!-- <div class="container">
        <i class="fa fa-laptop"></i>
        <h2>Huazhuo Technology (Hwaztech)</h2>        
        <h1>Software Outsourcing</h1>
    </div> -->

    <div class="intro-left">
        <h1>Software</h1>
        <h1 class="outsourcing">Outsourcing</h1>
        <h3 class="by">by</h3>
        <h3 class="name">Huazhuo Technology <br/>(Hwaztech)</h3>
    </div>
    <div class="intro-right">
        <span>
            “In the 21st century, <br/>software development can only mean business model design and validation. <br/><br/>The rest is all about being
            outsourcing.”
        </span>
        <footer class="intro-footer">Nick Yu<br> CEO and Founder<br> Hwaztech Ltd.</footer>
        <br/><br/>
        <div class="intro-text">
            However, "outsourcing" is not a popular vocabulary for internal and external businesses. It is a word that many professional
            development companies avoid. Instead, "high-end customization", "customized development", "professional bespoke
            development companies" are more likely to be used. For the customers, I found impressions on the Internet: sweet-talking,
            poor quality, copying code...
            <br/><br/> It's no wonder that most technology services companies don't want to define themselves as outsourcing
            companies, and such a popular impression is just a part of the phenomenon, but it's an objective fact.
            <br/><br/>

            <p>The common problems in the software outsourcing industry are:</p>
            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Resource Mismatching</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                Outsourcing companies have a lot of reliable teams. I know a lot of technical teams come out to start a business, but most
                of them have struggled for a few years, still on the edge of a small scale, skilled, but not able to keep
                up with their business ability.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Price Confusion</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                Outsourcing platforms such as Freelancer reduce market development price by one level. In a market with price confusion and
                oversupply, customers who do not know much about software development always pay too much attention to the
                price, but neglect the quality of project delivery which cannot be predicted in advance.
                <br/><br/> Different design, technical implementation, software delivery quality and after-sale service standard
                could lead to the cost gap of project development being very large for the same function list of quotations.
                <br/><br/> These schemas usually don't have a clear standard before selling. In an industry with high cost
                of personnel, if a project received at a low price is often ended with a bad end, it is the inevitable result
                of a vicious price competition.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Subcontracting</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                Because the business throughput and carrying capacity of each company is limited and stable, and the instability in business
                has caused many projects to be digested in the form of subcontracting. Especially for companies with strong
                business ability, subcontracting is a very common phenomenon.
                <br/><br/> In order to guarantee the profit of the project, subcontracting usually can only find small teams,
                small companies, and even part-time individual contractors, so it can also easily lead to many problems,
                such as control of development management, quality control, communication and so on.
                <br/><br/> These schemas usually don't have a clear standard before selling. In an industry with high cost
                of personnel, if a project received at a low price is often ended with a bad end, it is the inevitable result
                of a vicious price competition.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Low Industry Profit</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                Many outsiders feel that software outsourcing is very profitable, but the situation in the line is that the profits of the
                software outsourcing companies are very low, and the survival and profit of the industry are not optimistic.
                <br/><br/> For a project, 10% of the cost for sales, 10% for marketing promotion costs, 20% for personnel
                management, the remaining 50-60% is artificial and site equipment costs. If management or business is slightly
                unable to keep up, the profit part is basically lost.
                <br/><br/> In order to survive, most companies can only increase their marketing investment, reduce the standard
                of software services. An industry that does not have a way to make a profit, usually does not have much patience
                to care for the quality of the project.
            </div>

            <br/>
            <p>Then, what is an ideal software outsourcing service? I put forward the following four standards:</p>
            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Communication before sales, no sweet-talking</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                Some salesmen give people the impression of "sweet-talking" and "distrust". I think there are two reasons: one is excessive
                marketing and "harassment", exaggerated propaganda, too much attention to their own interests, and sometimes
                it is counterproductive; the two is not enough professionalism, especially for technical feasibility and
                project design, often give the plan and evaluation lacks professional and feasible support.
                <br/><br/> A successful sale must be honest and trustworthy, first solve the problem of business trust, and
                then stand in the perspective of professional and customer, output a reasonable solution, take the reasonable
                price to help the customer to solve the actual problems, but not to make more money to put forward the self
                advantageous plan, or even the wrong guidance.
                <br/><br/> In order to survive, most companies can only increase their marketing investment, reduce the standard
                of software services. An industry that does not have a way to make a profit, usually does not have much patience
                to care for the quality of the project.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Design professional, understand innovation</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                A good design is half the project's success. This is also a very difficult part, especially in the stage of the project prototype
                design. The product manager needs to understand the business, design the interaction and interface prototype
                of the whole project in combination with the actual scene and operation of the users. Knowing to appropriately
                innovating, combining the actual project scene with the special design, the customization can reflect its
                meaning and value. There are a of the projects spend the customization money, but are carrying out in copying
                code way.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>Excellent skill, leaving no hidden defects</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                I have met many unfinished projects have to be overthrown again, and several secondhand projects have been rebuilt. Technology
                skill is the intrinsic basic work of the project. A good technical framework and rigorous and elegant code
                logic can save a lot of cost for the subsequent iterative development and maintenance.
                <br/><br/> Why do many outsourcing companies not willing to take over other companies' secondhand projects?
                Why were some of the outsourcing companies careless with projects after release?
                <br/><br/>Because the project has too many portential issues which leads to operation and maintenance cost
                is too high. Technical person did not make a good architecture design, plus the uneven quality of the developers,
                the changes in requirements, which result in the project quality is tasteless but wasteful to discard.
                <br/><br/>For the choice of the software outsourcing partner, the technical strength must be the most important
                standard. It is related to the internal quality of the project, the stability of the function, the cost of
                operation and maintenance. And more importantly, it decides that the project needs to be overthrown or not.
            </div>

            <br ng-if="introExpand" />

            <i class="fa" ng-class="{'fa-caret-right':!introExpand,'fa-caret-down':introExpand}"></i>
            <b>After-sales service in place</b>
            <br/>
            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                After sales service is often the end of the outsourcing company's service, but it is the starting point for the operation
                of the project owner. Outsourcing company begins to turn from passive disadvantage to initiative advantage,
                which is a link to test outsourcing company's professional ethics.
                <br/><br/> For an outsouring company with professional conduct, even if project owner has no restrictions
                on him, when encountered problems, in the scope of the contract, the company will also strictly carry out
                the obligations and responsibilities that they need to perform.
            </div>

            <div class="intro-collapsed" ng-class="{'intro-expand':introExpand}">
                <br/> The above mentioned the problems in the software outsourcing industry, but this is not the essence
                of outsourcing industry.
                <br/><br/>I think the good development of an industry depends on the outsider has a comprehensive and objective
                understanding of it. It also needs to strengthen self-discipline, optimize the service process, improve the quality
                of service, and also, a more important point is to find some innovative and sustainable development direction.
                This is the direction I have been trying and working hard for the past few years.
                <br/><br/>Fortunately, there are still many such software service companies, but most of them exist in a small
                and beautiful way, but not well known by the public.
            </div>
            
            <br/>
            <span class="intro-show-more" ng-click="expandIntro()">Show {{introExpand?'less':'more'}}</span>
        </div>
    </div>
</section>

<div class="brands--hero">
    <div class="wrap">
        <h4 class="brands__title">Trusted by the world's leading brands</h4>

        <div class="brands--gray">
            <ul class="brands__logos">
                <li class="brands__logo brands__logo--fox">
                    <img class="brands__logo__image" alt="yuanyang" src="../img/yuanyang1.png">
                </li>
                <li class="brands__logo brands__logo--threadless">
                    <img class="brands__logo__image" alt="tpanel" src="../img/tpanel.png">
                </li>
                <li class="brands__logo brands__logo--twitter">
                    <img class="brands__logo__image img-gray" alt="chunxuanmao" src="../img/chunxuanmao-black.png">
                </li>
                <li class="brands__logo brands__logo--discovery">
                    <img class="brands__logo__image" alt="chengjinghe" src="../img/chenghejing-black.png">
                </li>
                <li class="brands__logo brands__logo--american-idol">
                    <img class="brands__logo__image" alt="shanghui" src="../img/shanghui-black.png">
                </li>
                <li class="brands__logo brands__logo--kaplan">
                    <img class="brands__logo__image" alt="yangligh" src="../img/yanglingh-black.png">
                </li>
            </ul>
        </div>

    </div>
</div>

<section class="cavalry">
    <div class="wrap">
        <h2 class="cavalry__title">We are your partners</h2>
        <p class="cavalry__intro">Hwaztech helped the world's leading brands <br class="br--desktop"> scale their development teams for years.</p>
    </div>
</section>

<section class="section--list">
    <div class="section__pic section__pic--left section__pic--list">
        <img class="section__pic__img section__pic__img--list" alt="undefined" src="../img/justin1.jpg">
    </div>
    <div class="section__items">

        <div class="section__item">
            <h4 class="section__item__title">We're expert in coding.</h4>
            <p class="section__item__text">We are technology enthusiasts. Have several big projects experiences.</p>
        </div>

        <div class="section__item">
            <h4 class="section__item__title">Simple, flexible contract.</h4>
            <p class="section__item__text">Scale your team as needed. We bill on a monthly basis.</p>
        </div>

        <div class="section__item">
            <h4 class="section__item__title">We cooperate with your team.</h4>
            <p class="section__item__text">You manage the projects, and our dedicated developers join your team full-time.</p>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="wrap">
        <h2 class="benefits__title">Our Capabilities</h2>
        <div class="benefits__content">
            <p class="benefits__intro">
                Our development teams have <br class="br--desktop"> the experience to help you succeed.
            </p>
            <!-- <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn--red">Hire Developers</a> //-->
            <ul class="benefits__list">

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-tablet"></i>
                    <h4 class="benefits__item__title">Bespoke Software <br/> Development</h4>
                    <p class="benefits__item__text">Remove clunky process and meet your expectations.</p>
                </li>

                <li class="benefits__item benefits__item--team">
                    <i class="fa fa-laptop"></i>
                    <h4 class="benefits__item__title">Full Stack <br/> Development</h4>
                    <p class="benefits__item__text">From front end to back end development.</p>
                </li>

                <li class="benefits__item benefits__item--updates">
                    <i class="fa fa-mobile-phone"></i>
                    <h4 class="benefits__item__title">Mobile Apps <br/> Development</h4>
                    <p class="benefits__item__text">We expertise in iOS & Android apps development.</p>
                </li>

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-gears"></i>
                    <h4 class="benefits__item__title">Maintenance Enhancement</h4>
                    <p class="benefits__item__text">Manage critical applications and maximize growth opportunities.</p>
                </li>

                <li class="benefits__item benefits__item--contract">
                    <i class="fa fa-hand-stop-o"></i>
                    <h4 class="benefits__item__title">Software <br/> QA Testing</h4>
                    <p class="benefits__item__text">Unrivaled experience in software testing.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section section--skills">
    <div class="section__body section__body--skills">
        <h2 class="section__title">
            Technology <br/>Stack.
        </h2>
        <p class="section__copy">
            Hire motivated developers who are driven to keep their skills sharp in the most widely adopted technologies today.
        </p>

        <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn-primary">Hire Developers</a>

    </div>
    <div class="section__pic section__pic--skills">
        <img class="section__pic__img" alt="Ready to<br>Assemble." src="img/tech-black.png">
    </div>
</section>

<section class="benefits">
    <div class="wrap">
        <h2 class="benefits__title">Our Partner Benefits</h2>
        <div class="benefits__content">
            <p class="benefits__intro">
                We'e built partnerships with leading brands that have lasted nearly a decade thanks to level of care &amp; attention we provide.
            </p>
            <!-- <a href="/hire-developers-application/" title="Hire Developers" class="btn btn--big  btn--red">Hire Developers</a> //-->
            <ul class="benefits__list">

                <li class="benefits__item benefits__item--team">
                    <i class="fa fa-group"></i>
                    <h4 class="benefits__item__title">Dedicated Team.</h4>
                    <p class="benefits__item__text">A full-time, scaleable team of trusted developers.</p>
                </li>

                <li class="benefits__item benefits__item--updates">
                    <i class="fa fa-comments"></i>
                    <h4 class="benefits__item__title">Daily Updates.</h4>
                    <p class="benefits__item__text">In-depth, daily progress updates. (Before you even ask for them)</p>
                </li>

                <li class="benefits__item benefits__item--manager">
                    <i class="fa fa-user-md"></i>
                    <h4 class="benefits__item__title">Account Manager.</h4>
                    <p class="benefits__item__text">Dedicated account manager, available any time.</p>
                </li>

                <li class="benefits__item benefits__item--contract">
                    <i class="fa fa-pencil-square-o"></i>
                    <h4 class="benefits__item__title">Flexible Contract.</h4>
                    <p class="benefits__item__text">Flexible contracts with simple monthly billing.</p>
                </li>
            </ul>
        </div>
    </div>
</section>