<section class="block section section--dark section--hero">
  <div class="section__body section__body--hero section__body--center">
    <h1 class="section__title--hero">
      Our Methodology
    </h1>
    <p class="section__copy--hero">
      Approach of how we work.
    </p>
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Agile.
    </h2>
    <p class="section__copy">
      Software is developed in incremental, rapid cycles. This results in small incremental releases with each release building on previous functionality. Each release is thoroughly tested to ensure software quality is maintained.
    </p>

    <a href="https://en.wikipedia.org/wiki/Agile_software_development" class="btn btn--big  btn-primary" target="_blank">Learn More</a>

  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="FOX.COM" src="../img/agile-methodology.jpg">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Kanban.
    </h2>
    <p class="section__copy">
      Kanban became an effective tool to support running a production system as a whole, and an excellent way to promote improvement. With a Kanban, you will easily gasp the statuses of tasks, so that the process of the sprint in totally under your control.
    </p>

  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Kaplan Inc." src="../img/kanban.png">
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Daily Status <br/>Updates.
    </h2>
    <p class="section__copy">
      Hwaztech developers report you their daily statuses everyday. It provides a reliable and easy way to communicate the status of particular project activities. <br/><br/>
      Typically, a daily status report consists of three parts:
      <ul class="section__copy section_intro">
        <li>What I have done today</li>
        <li>What will I do tomorrow</li>
        <li>Questions & Summary</li>
      </ul>
    </p>
  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="Bugwolf" src="../img/daily-status.png">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Demo.
    </h2>
    <p class="section__copy">
      You will be given a demo by the end of each sprint to check if the implementation followed the initial design, and if the implementation is exactly what you want. So that you are able to execute any adjustments as earlier as possible.
    </p>
  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Gamecrate" src="../img/demo.jpg">
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Retrospective.
    </h2>
    <p class="section__copy">
      The Agile retrospective can be thought of as a "lessons learned" meeting. The team reflects on how everything went and then decides what changes they want to make in the next iteration. 
      Typically, a retrospective consists of three parts:
      <ul class="section__copy section_intro">
        <li>What worked well for us?</li>
        <li>What did not work well for us?</li>
        <li>What actions can we take to improve our process going forward?</li>
      </ul>
    </p>
  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="Bugwolf" src="../img/retrospective.jpg">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Code <br/>Review.
    </h2>
    <p class="section__copy">
      Continuously improving the quality of the code and architecture, consistent design and implementation, teaching and sharing knowledge between team members.
    </p>
  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Gamecrate" src="../img/code-review.png">
  </div>
</section>