<section class="block section section--dark section--hero">
  <div class="section__body section__body--hero section__body--center">
    <h1 class="section__title--hero">
      Our Methodology
    </h1>
    <p class="section__copy--hero">
      Approach of how we work.
    </p>
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Agile.
    </h2>
    <p class="section__copy">
      Software is developed in incremental, rapid cycles. This results in small incremental releases with each release building on previous functionality. Each release is thoroughly tested to ensure software quality is maintained.
    </p>

    <a href="https://en.wikipedia.org/wiki/Agile_software_development" class="btn btn--big  btn-primary" target="_blank">Learn More</a>

  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="FOX.COM" src="../img/agile-methodology.jpg">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Kanban.
    </h2>
    <p class="section__copy">
      Kanban became an effective tool to support running a production system as a whole, and an excellent way to promote improvement. With a Kanban, you will easily gasp the statuses of tasks, so that the process of the sprint in totally under your control.
    </p>

  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Kaplan Inc." src="../img/kanban.png">
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Daily Status Updates.
    </h2>
    <p class="section__copy">
      Hwaztech developers report you their daily statuses everyday. It provides a reliable and easy way to communicate the status of particular project activities. <br/><br/>
      Typically, a daily status report consists of three parts:
      <ul class="section__copy section_intro">
        <li>What I have done today</li>
        <li>What will I do tomorrow</li>
        <li>Questions & Summary</li>
      </ul>
    </p>
  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="Bugwolf" src="https://x-team.com/images/developer-2.png">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Demo.
    </h2>
    <p class="section__copy">
      Gamecrate is a video game editorial site by Newegg, focusing on both games and computer hardware. <br><br>X-Team designed
      and developed a complete publishing platform in Drupal, allowing Gamecrate editors and writers unprecedented control
      over their content and features.
    </p>
  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Gamecrate" src="https://x-team.com/images/gamecrate-x-team.png">
  </div>
</section>

<section class="section section--left">
  <div class="section__body section__body--left">
    <h2 class="section__title">
      Retrospective.
    </h2>
    <p class="section__copy">
      X-Team worked with Bugwolf, a SaaS testing platform, to create a new front-end for their beta testing web application. <br><br>Using
      technologies such as React.js, Rails and CSS Modules helped to create a robust application that is both fast and easily
      testable.
    </p>
  </div>
  <div class="section__pic section__pic--left">
    <img class="section__pic__img" alt="Bugwolf" src="https://x-team.com/images/developer-2.png">
  </div>
</section>

<section class="section section--right">
  <div class="section__body section__body--right">
    <h2 class="section__title">
      Code Review.
    </h2>
    <p class="section__copy">
      Gamecrate is a video game editorial site by Newegg, focusing on both games and computer hardware. <br><br>X-Team designed
      and developed a complete publishing platform in Drupal, allowing Gamecrate editors and writers unprecedented control
      over their content and features.
    </p>
  </div>
  <div class="section__pic section__pic--right">
    <img class="section__pic__img" alt="Gamecrate" src="https://x-team.com/images/gamecrate-x-team.png">
  </div>
</section>