<div class="wrap cooperation">
    <h1 class="form__title">
      Hire Developers
    </h1>
    <p class="form__subtitle">
      Tell us about your needs and we’ll connect you<br class="br--desktop"> with your own dedicated account manager.
    </p>
    <div>
      <form class="form__form validate" name="hire" method="post" id="subscribe">
        <input class="form__input" type="text" placeholder="Full Name" name="name" id="name" required="">
        <input class="form__input" type="text" placeholder="Company" name="company">
        <input class="form__input" type="email" placeholder="E-mail" name="email" id="email" required="">
        <textarea class="form__input form__input--textarea" name="description" placeholder="What kind of developers do you need to strengthen your company?" required=""></textarea>
     
        <button class="btn btn--big start btn-primary" type="submit" ng-click="start()">Get Started</button>
      </form>
    </div>
  </div>