<div class="wrap cooperation" ng-controller="appController" ng-style="{'height':successHeight, 'paddingTop':startCooperationPaddingTop}">
    <h1 class="form__title">
      Hire Developers
    </h1>
    <p class="form__subtitle">
      Tell us about your needs and we’ll connect you<br class="br--desktop"> with your own dedicated account manager.
    </p>
    <div>
      <form class="form__form validate">
        <input class="form__input" type="text" placeholder="Full Name" name="name" id="name" required="" ng-model="name">
        <input class="form__input" type="text" placeholder="Company" name="company" ng-model="company">
        <input class="form__input" type="email" placeholder="E-mail" name="email" id="email" required="" ng-model="email">
        <textarea class="form__input form__input--textarea" name="description" placeholder="What kind of developers do you need to strengthen your company?" required="" ng-model="details"></textarea>
     
        <button class="btn btn--big start btn-primary" type="submit" ng-click="start()" ng-class="{'btn-disabled':isOperating}">{{!isOperating?'Get Started':'We are getting close...'}}</button>
      </form>
    </div>
  </div>